<p>requestline-edit works!</p>
<span>Line Edit</span>
<table class="table table-sm">
    <tr>
        <th>product</th>
    <td>
        <select [(ngModel)]="requestline.productId">
            <option *ngFor="let
            product of products" [ngValue]=product.id>
        {{product.name}}</option>
        </select>
    </td>
    <tr>
        <th>quantity</th>
        <td>
            <input [(ngModel)]="requestline.quantity" type="number" size="15">
        </td>
    </tr>
    <td colspan="2">
        <button (click)="save()" class="btn btn primary">Save</button>
    </td>
</table>