<p>requestline-edit works!</p>
<span>Line Edit</span>
<table class="table" *ngIf=requestline>
    <tr>
        <td>Product</td>
        <select [(ngModel)]=requestline.productId>
            <option *ngFor="let product of products" [ngValue]=product.id>{{product.name}}</option>
        </select>
    </tr>
    <tr>
        <td>quantity</td>
        <input type="number" [(ngModel)]=requestline.quantity>
    </tr>
    <td colspan="2">
        <button (click)="save()" class="btn btn primary">Save</button>
    </td>
</table>