<nav>
    <ul>
<app-menuitem [menu]="mnu" *ngFor="let mnu of menu"></app-menuitem>
    </ul>


    <a routerLink="/home">Home</a> |
    <a routerLink="/about">About</a> |
    <a routerLink="/xxx">Invalid</a> |
    <a routerLink="/UserList">User List</a> |
    <a routerLink="/VendorList">Vendor</a> |
    <a routerLink="/product/list">Product</a> |
    <a routerLink="/request/list">Request</a> |
    <a routerLink="/request/reviewlist">ReviewList</a> |
    <a routerLink="/user/login">Login</a> |
        
    
</nav>