<app-menu></app-menu>
<div>
<span>RequestLine|</span>

<table class="table table-sm" *ngIf=request>
    <tr>
        <th>Id</th>
        <th>description</th>
        <th>status</th>
        <th>total</th>
        <th>user</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.user.username}}</td>
        <td>
            <a routerLink="/request/edit/{{request.id}}">Edit</a> |
            <a routerLink="/request/detail/{{request.id}}">detail</a>|
            <a routerLink="/request/line/{{request.id}}">lines</a>
        </td>
    </tr>

</table>
</div>

    <span>LineItems</span>
   

    <span> <a routerLink="/requestline/create">Create</a> </span>
<div *ngIf=request>
    <table class="table table-sm">
        <tr>
            <th> LineItemId </th>
            <th>product</th>
            <th>quantity</th>
            <th>price</th>
            <th>subtotal</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr *ngFor="let lineitem of request.requestLines">
            <td>{{lineitem.id}}</td>
            <td>{{lineitem.product.name}}</td>
            <td>{{lineitem.quantity}}</td>
            <td>{{lineitem.product.price}}</td>
            <td>{{lineitem.product.price * lineitem.quantity}}</td>
            <td>
                <button (click)="lineitemEdit(lineitem.id)">Edit</button>
                <button (click)="Delete()" id={{lineitem.id}}>Delete Line Item</button>
            </td>
        </tr>
    </table>
</div>
