<app-menu></app-menu>
<span>Requestline|</span>

<span> <a routerLink="/Requestline/create">Create</a> </span>

<table class="table table-sm">
    <tr>
        <th>Id</th>
        <th>requestid</th>
        <th>productid</th>
        <th>quantity</th>
        
        
        
    </tr>
    <tr let *ngFor="let ">
        <td>{{requestline.id}}</td>
        <td>{{requestline.request.id}}</td>
        <td>{{requestline.product.id}}
            {{requestline.quantity}}</td>
             <a routerLink="/Request/edit/{{.id}}">Edit</a>
        </td>
         
        
        
    </tr>
    
    
</table>
