<app-menu></app-menu>

<span>Request List|</span>

<span> <a routerLink="/request/create">Create</a> </span>

<table class="table table-sm">
    <tr>
        <th>Id</th>
        <th>description</th>
        <th>justification</th>
        <th>rejectionreason</th>
        <th>deliverymode</th>
        <th>status</th>
        <th>total</th>
        <th>user</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.justification}}</td>
        <td>{{request.rejectionreason}}</td>
        <td>{{request.deliverymode}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.user.username}}</td>
        <a routerLink="/request/">Review</a>
    </tr>
</table>
<table>

</table>


<button (click)="approve()">Approve</button>
<button (click)="reject()">Reject</button>
<div>
    <input type="text" *ngIf=reject [(ngModel)]="request.rejectionReason">
</div>