<app-menu></app-menu>
<router-outlet></router-outlet>
<span>Product List|</span>

<span> <a routerLink="/product/create">Create</a> </span>

<table class="table table-sm">
    <tr>
        <th>Id</th>
        <th>partnbr</th>
        <th>name</th>
        <th>price</th>
        <th>unit</th>
        <th>photopath</th>
        <th>vendor</th>
        <th>action</th>
    </tr>
    <tr let *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.partNbr}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.unit}}</td>
        <td>{{product.photopath}}</td>
        <td>{{product.vendor.name}}</td>
        <td>
            <a routerLink="/product/edit/{{product.id}}">Edit</a> |
            <a routerLink="/product/detail/{{product.id}}">detail</a>
        </td>
    </tr>


</table>