<app-menu></app-menu>
<div>
<span>RequestLine|</span>

<table class="table table-sm" *ngIf="request">
    <tr>
        <th>Id</th>
        <th>description</th>
        <th>status</th>
        <th>total</th>
        <th>user</th>
    </tr>
    <tr>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total}}</td>
        <td>{{request.user.username}}</td>
        <td>
        <button (click)="SetToReview()">Review</button> |
        <a routerLink="/request/reviewlist/{{request.id}}">Review List</a>
        </td>
            
        
    </tr>

</table>
</div>

    <span>LineItems</span>
   

    <span> <a routerLink="/requestline/create/{{request.id}}">Create</a> </span>
<div *ngIf="request">
    <table class="table table-sm">
        <tr>
            <th> LineItemId </th>
            <th>product</th>
            <th>quantity</th>
            <th>price</th>
            <th>subtotal</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        <tr *ngFor="let lineitem of request.requestLines">
            <td>{{lineitem.id}}</td>
            <td>{{lineitem.product.name}}</td>
            <td>{{lineitem.quantity}}</td>
            <td>{{lineitem.product.price}}</td>
            <td>{{lineitem.product.price * lineitem.quantity}}</td>
        </tr>
        <tr>
            <button (click)="approveRequest()">approve</button>
            <button (click)="rejectRequest()">reject</button>
            <input tyoe="text" [(ngModel)]="request.rejectionreason">
        </tr>
    </table>
</div>
